.comment
  padding: 8px 14px
  border: 2px solid red

  header
    font-size: 0.8em

  footer
    padding-bottom: 8px

    .reply
      float: right
      padding: 0
      background-color: transparent
      color: black
      font-weight: normal

  ul
    margin-left: 40px

  .vote
    background-image: url(http://www.redditstatic.com/sprite-reddit.VLn6vQIEOc8.png);
    background-repeat: no-repeat;

    width: 15px
    height: 14px
    padding: 0
    background-color: transparent

  .down
    background-position: -42px -818px;

    &.voted
      background-position: -63px -818px;

  .up
    background-position: -84px -818px;

    &.voted
      background-position: -105px -818px;